@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei";
    background-color: #fff;
}

ul li {
    list-style: none;
}

a:link {
    text-decoration: none;
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #ccff00;
}

#header,
#top,
#nav,
#banner {
    width: 100%;
}

div.box {
    width: 1200px;
    margin: 0 auto;
}


/*清除图片默认的上3px*/

img {
    vertical-align: top;
}


/*header*/

#top,
#top>.box {
    height: 165px;
}

#top .box>a {
    display: block;
    float: left;
    height: 165px;
}

.top_r {
    height: 61px;
    width: 254px;
    margin-top: 50px;
    float: right;
}

.top_r img {
    display: block;
    float: left;
    margin-right: 23px;
}

.top_p1 {
    color: #5b1c2d;
    font-size: 18px;
}

.top_p2 {
    margin-top: 15px;
    color: #e8c416;
    font-size: 18px;
}


/*导航*/

#nav {
    height: 40px;
    background-color: #78a8f2;
}

#nav>.box {
    height: 40px;
}

#nav ul li {
    float: left;
}

#nav ul li a {
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 20px;
    margin: 0 33px;
}

.on {
    background-color: #db9f07;
}

#nav ul li a:hover {
    background-color: #db9f07;
}

#nav .box .search {
    width: 200px;
    height: 37px;
    float: right;
}

#nav .box .search form input {
    color: #666666;
    outline: none;
    float: left;
    background: none;
    border: none;
    padding-left: 14px;
    position: absolute;
    width: 126px;
    height: 22px;
    line-height: 22px;
    text-indent: 5px;
    background-image: url(../images/s_input.png);
    top: 176px;
}

#nav .box .search form a {
    font-size: 16px;
    float: right;
    width: 46px;
    height: 22px;
    color: #FFF;
    margin-top: 11px;
    padding-left: 8px;
    background-image: url(../images/search.png);
}


/*轮播图*/

#banner {
    position: relative;
    min-width: 1200px;
}

#banner ul li {
    position: absolute;
}

#banner ul li:first-child {
    z-index: 1;
}

#banner ul li a {
    display: block;
}

#banner ul li img {
    width: 100%;
}

#banner ol {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 10px;
    width: 129px;
    margin: 0 auto;
    z-index: 2;
}

#banner ol li {
    list-style: none;
    width: 15px;
    height: 15px;
    margin: 0 14px;
    float: left;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #999999;
}

#banner ol li:hover {
    background-color: #7082f6;
}

#banner ol li.active {
    background-color: #7082f6;
}

#banner #l,
#banner #r {
    display: block;
    position: absolute;
    height: 50px;
    width: 53px;
    z-index: 2;
}

#banner #l:hover {
    background: url(../images/l_l.png) no-repeat;
}

#banner #r:hover {
    background: url(../images/r_l.png) no-repeat;
}

#banner #l {
    left: 0;
    top: 40%;
    background: url(../images/l.png) no-repeat;
}

#banner #r {
    right: 0;
    top: 40%;
    background: url(../images/r.png) no-repeat;
}


/*footer*/

#footer {
    height: 350px;
}

#footer1 {
    height: 300px;
    background-color: #78a8f2;
}

#footer1 a {
    font-size: 14px;
    color: #fff;
}

#footer2 {
    height: 50px;
    background-color: #527ab8;
}

#footer2>p {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
}

#footer1 .friendDiv {
    float: left;
    width: 134px;
    height: 218px;
    margin-top: 54px;
}

#footer1 .friendDiv .p1 {
    color: #99cc66;
    font-size: 46px;
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    float: left;
    margin-right: 4px;
}

#footer1 .friendDiv .p2 {
    color: #fff;
    font-size: 18px;
    float: left;
    height: 18px;
    line-height: 18px;
}

#footer1 .friendDiv .p3 {
    color: #cccccc;
    font-size: 18px;
    float: left;
}

#footer1 .contact {
    width: 255px;
}

#footer1 .contact div {
    width: 134px;
}

#footer1 ul {
    clear: both;
    margin-top: 10px;
}

#footer1 ul li a {
    display: block;
    height: 42px;
    line-height: 42px;
    margin-left: 37px;
}

#footer1 b {
    display: block;
    float: left;
    height: 150px;
    border: 1px solid #ccc;
    margin: 54px 49px 0 40px;
}

#footer1 span {
    display: block;
    background: url(../images/2_code.png) no-repeat;
    height: 133px;
    width: 133px;
    float: left;
    margin: 84px 0 0 57px;
}


/*面包屑导航*/

.addr {
    height: 30px;
    padding-left: 31px;
    background: url(../images/icon_1.png) no-repeat;
    line-height: 42px;
    color: #666;
    font-size: 14px;
    margin: 30px 0;
    clear: both;
    font-style: italic;
}

.addr a {
    color: #666;
}

.addr a:hover {
    color: #78a8f2;
}


/*左边竖立导航*/

.leftNav {
    width: 197px;
    height: 500px;
    float: left;
    padding: 45px 0px 0px 5px;
    /*margin-right: 40px;*/
}

.leftNav ul li {
    cursor: pointer;
    color: #6fa0f6;
    width: 192px;
    height: 33px;
    line-height: 34px;
    font-size: 18px;
    text-align: center;
    margin: 25px 0;
}

.leftNav ul li:hover,
.leftNav ul li.active {
    color: #cff855;
    background-color: #6fa0f6;
}


/*右边内容*/

.rightMain>div {
    display: none;
}


/*翻页*/

.bottom_nav {
    width: 595px;
    height: 20px;
    margin: 45px auto;
}

.bottom_nav li {
    float: left;
}

.bottom_nav li a {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #666;
    border: 1px solid #666;
    font-size: 12px;
    margin: 0 10px;
    padding: 0 8px;
    text-align: center;
}

.bottom_nav li a.ac {
    background-color: #6fa0f6;
    color: #fff;
    border: 1px solid #6fa0f6;
}

.bottom_nav li a:hover {
    color: #ff5c3d;
    border: 1px solid #ff5c3d;
}

.bottom_nav .bottom_nav_i,
.bottom_nav .bottom_nav_i:hover {
    border: none;
}


/*分类大标题*/

.top_h1 {
    height: 50px;
    width: 100%;
    background-color: #6fa0f6;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: #fff;
}